<plugin name='openid' version='0.1'>
  <author>Marcel Overdijk</author>
  <authorEmail>marceloverdijk@gmail.com</authorEmail>
  <title>OpenID</title>
  <description>Provides simple authentication using OpenID</description>
  <documentation>http://grails.org/OpenID+Plugin</documentation>
  <resources>
    <resource>DataSource</resource>
    <resource>UrlMappings</resource>
    <resource>OpenidController</resource>
    <resource>OpenidService</resource>
    <resource>OpenidTagLib</resource>
  </resources>
</plugin>