<plugin name='openid' version='0.4' grailsVersion='2.0.0 &gt; *'>
  <author>Marcel Overdijk, Matthias Bohlen, Moritz Kobel</author>
  <authorEmail>marceloverdijk@gmail.com, mbohlen@mbohlen.de, moritz.kobel@itds.ch</authorEmail>
  <title>OpenID</title>
  <description>Provides simple authentication using OpenID</description>
  <documentation>http://grails.org/plugin/openid</documentation>
  <type>OpenidGrailsPlugin</type>
  <resources>
    <resource>OpenidController</resource>
    <resource>OpenidService</resource>
    <resource>OpenidTagLib</resource>
  </resources>
  <repositories>
    <repository name='grailsCentral' url='http://plugins.grails.org' />
    <repository name='http://repo.grails.org/grails/plugins' url='http://repo.grails.org/grails/plugins/' />
    <repository name='http://repo.grails.org/grails/core' url='http://repo.grails.org/grails/core/' />
    <repository name='grailsCore' url='http://svn.codehaus.org/grails/trunk/grails-plugins' />
  </repositories>
  <dependencies>
    <runtime>
      <dependency group='xerces' name='xercesImpl' version='2.6.2' />
    </runtime>
  </dependencies>
  <plugins />
  <runtimePluginRequirements />
  <behavior />
</plugin>